<h2>Sign In</h2>

<%= flash.now[:notice] if flash.now[:notice] %>

<%= form_with url: sessions_path, local: true do %>

    <div class="form-group">
        <div class="field">
            <%= label_tag :email %>
            <%= email_field_tag :email, params[:email], required: true, class: 'form-control' %>
        </div>

        <div class="field">
            <%= label_tag :password %>
            <%= password_field_tag :password, params[:password], required: true, class: 'form-control' %>
        </div>

    </div>
    <%= submit_tag 'Sign In' %>


<% end %>